body {
  font-family: Arial, sans-serif;
  background-color: #f2f6ff;
  text-align: center;
  margin-top: 80px;
}

h2 {
  color: #1a237e;
}

button {
  padding: 10px 20px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0c47a1;
}
.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #1a73e8;
  font-weight: bold;
}


